<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>PUBLISHER</h1>
    <div id="error" class="hidden" style="color: black;"></div>
    <form id="Publicar">
        <input type="text" id="mensaje" name="mensaje" placeholder="mensaje">
        <select  id="control" name="control">
            <option value="manga">Manga</option>
            <option value="anime">Anime</option>
        </select>
        <input class="botones" type="submit" id="submit" value="PUBLICAR" />
    </form>
    <h1>Subscriber</h1>
    <ul id="publicar_mensajes">
        {% for d in data %}
            <li>{{d.mensaje}} {{d.topic}}</li>
        {% endfor %}
    </ul>
    <script src="/static/js/homepage.js"></script>
</body>
</html>